
h1 {
  text-align: center;
}

#consultingRoom{
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  text-align: center;
  border: 2px solid black;
}
video {
  padding: 10px;
  height: 60%;
  max-height: 300px;
  max-width: 400px;
  width:60%;
}

#controls{
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: auto;
    width: 40%;
    display: flex;
    gap: 1em;
    justify-content: center;
}

.control-container{
  background-color: rgb(179, 102, 249, .9);
  padding: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.control-container img{
    height: 30px;
    width: 30px;
}

#leave-btn{
    background-color: rgb(255,80,80, 1);
}

:root {
    --body-bg: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    --msger-bg: #fff;
    --border: 2px solid #ddd;
    --left-msg-bg: #ececec;
    --right-msg-bg: #579ffb;
  }

  .chat-box{
    margin-left: auto;
    margin-right: auto;
  }
  
  .msger {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 80%;
    max-width: 867px;
    margin: 25px 10px;
    height: calc(100% - 50px);
    border: var(--border);
    border-radius: 5px;

    margin-left: auto;
    margin-right: auto;
  }
  
  .msger-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #eee;
    color: #666;
  }
  
  #msger-chat {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
  }
  .msger-chat::-webkit-scrollbar {
    width: 6px;
  }
  .msger-chat::-webkit-scrollbar-track {
    background: #ddd;
  }
  .msger-chat::-webkit-scrollbar-thumb {
    background: #bdbdbd;
  }
  .msg {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
  }
  .msg:last-of-type {
    margin: 0;
  }
 
  .msg-bubble {
    max-width: 450px;
    padding: 15px;
    border-radius: 15px;
    background: var(--left-msg-bg);
  }
  .msg-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  .msg-info-name {
    margin-right: 10px;
    font-weight: bold;
  }
  
  .left-msg .msg-bubble {
    border-bottom-left-radius: 0;
  }
  
  .right-msg {
    flex-direction: row-reverse;
  }
  .right-msg .msg-bubble {
    background: var(--right-msg-bg);
    color: #fff;
    border-bottom-right-radius: 0;
  }
  .msger-inputarea {
    display: flex;
    padding: 10px;
    background: #eee;
  }
  .msger-inputarea * {
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 1em;
  }
  .msger-input {
    flex: 1;
    background: #ddd;
  }
  .msger-send-btn {
    margin-left: 10px;
    background: rgb(0, 196, 65);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }
  .msger-chat {
    background-color: #fcfcfe;
  }

  .transcript{
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    width: 30%;
    text-align: center;
  }

  